APP_MODE=server
TZ=Europe/Madrid

# WireGuard
WG_MODE=container
WG_CONTAINER_NAME=wireguard
WG_HOST=52.47.56.217
WG_PORT=51820
WG_SUBNET=10.13.13.0/24
WG_DNS=10.13.13.1

# Auth
JWT_SECRET=pon_algo_largo_aleatorio
JWT_ACCESS_TTL_MIN=15
JWT_REFRESH_TTL_DAYS=7

# DB (sqlite por defecto)
# DB_URL=sqlite:///data/autovpn.db
ADMIN_EMAIL=admin@autovpn.local
ADMIN_PASSWORD_HASH=$2b$12$I7R0FIsBo8yC78QDV4rlZuqozsusex7RTHL2xFRicgzidnS/7tdri
