APP_MODE=server
TZ={{ TZ }}

WG_MODE={{ WG_MODE | default('container') }}
WG_CONTAINER_NAME={{ WG_CONTAINER_NAME | default('wireguard') }}
WG_HOST={{ WG_HOST }}
WG_PORT={{ WG_PORT }}
WG_SUBNET={{ WG_SUBNET }}
WG_DNS={{ WG_DNS }}

# Auth / JWT
JWT_SECRET={{ JWT_SECRET }}
JWT_ACCESS_TTL_MIN={{ JWT_ACCESS_TTL_MIN | default(15) }}
JWT_REFRESH_TTL_DAYS={{ JWT_REFRESH_TTL_DAYS | default(7) }}
TOTP_ISSUER={{ TOTP_ISSUER | default('AutoVPN') }}

# Seeder admin (HASH, nunca en claro)
ADMIN_EMAIL={{ ADMIN_EMAIL }}
ADMIN_PASSWORD_HASH={{ ADMIN_PASSWORD_HASH }}

